.error-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: @standart-white;
  padding: 50px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border-radius: 20px;
  box-shadow:  31px 31px 61px #666666,
  -31px -31px 61px #ffffff;
}

.error-message__text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.error-message__info {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  text-transform: capitalize;
}

.error-message__link {
  padding: 5px;
  color: #1E90FF;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  opacity: .7;
  text-align: right;
  border: 2px solid transparent;
  transition: all .3s ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
    border: 2px solid #228B22;
    border-radius: 2px;
    transition: all .3s ease-in-out;
  }
}
