.our-office {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px min-content min-content;
  grid-row-gap: 30px;
  padding-bottom: 40px;
  background-color: @standart-background-color;
}

.our-office__banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../../img/persons/persons-all.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% -350px;
  background-size: cover;
}

.our-office__banner-title {
  font-size: 30px;
  font-weight: 600;
  color: @standart-light-text-color;
}

.our-office__about {
  width: 100%;
}

.our-office__about-wrap {
  padding: 0 @basic-side-padding;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-row-gap: 15px;
}

.our-office__title {
  font-family: @basic-font;
  font-size: @office-title-font-size;
  font-weight: @office-title-font-weight;
  color: @standart-text-color;
  text-transform: uppercase;
  padding: 20px 0;
}

.our-office__about-text {
  font-family: @basic-font;
  font-size: @office-text-font-size;
  font-weight: @office-text-font-weight;
  color: @standart-text-color;
  text-transform: none;
}
