.projects {
  display: grid;
  grid-gap: 10px;
  list-style: none;
  padding: 0 @basic-side-padding;

  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

  @media (max-width: @desctope-width) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  @media (max-width: @tablet-width) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.projects__card {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;

  background-image: url('../img/image-not-found-scaled.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: @desctope-width) {
    height: 250px;
  }

  @media (max-width: @tablet-width) {
    height: 200px;
  }

  &:hover .projects__image,
  &:focus .projects__image, // image properties when item is active
  &--colored .projects__image {
    transition: scale .3s ease;
    scale: 1.02;
  }

  &:hover .projects__subtitle,
  &:focus .projects__subtitle,
  &--colored .projects__subtitle {
    transition: @projs-subtitle-animation;

    opacity: 0.9;

    @media (max-width: @tablet-width) {
      -webkit-transform: translate3d(0%, 0%, 0);
      transform: translate3d(0%, 0%, 0);
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
    }
  }

  &--colored .projects__info {
    &::before {
      opacity: 1;
      transition: all .8s ease-in-out;

      transform: translateY(0);
    }
  }
}

.projects__link {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;

  &::before { // only desctope devices!
    content: '';
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: .3s all ease-in-out;
  }


  &:hover,
  &:focus {
    &::before {
      background-color: rgba(0, 0, 0, 0.2);
      transition: .3s all ease-in-out;
    }
  }

  @media (max-width: @tablet-width) {
    &::before {
      display: none;
    }
  }
}

.projects__info {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 20px 10px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: @tablet-width) {
    top: auto;
    bottom: 0;
    padding: 10px 10px;

    &::before {
      transition: all .8s ease-in-out;
      opacity: 0;
      z-index: -1;
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);

      transform: translateY(100%);
    }
  }
}

.projects__title {
  font-family: @basic-font;
  color: @standart-white;
  font-size: @projs-title-font-size;
  font-weight: @projs-title-font-weight;
  text-transform: uppercase;
  word-break: break-all;
}

.projects__subtitle {
  font-family: @basic-font;
  color: @standart-white;
  font-size: @projs-subtitle-font-size;
  font-weight: @projs-subtitle-font-weight;
  text-transform: capitalize;
  transition: @projs-subtitle-animation;
  opacity: 0;
  word-break: break-all;

  @media (max-width: @tablet-width) {
    -webkit-transform: translate3d(0%, 30%, 0);
    transform: translate3d(0%, 30%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
}

.projects__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;

  scale: 1;
  transition: scale .5s ease;
}
