.header {
	width: 100%;
	z-index: @header-index;

	background-color: @standart-background-color;

	&--fixed {
		position: fixed;
		top: 0;
		background-color: transparent;

		& .header__wrap {
			padding: @basic-side-padding;
		}
	}
}

.header__wrap {
	position: relative;
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
	padding: 80px @basic-side-padding 100px @basic-side-padding;

	@media (max-width: @tablet-width) {
		grid-template-columns: 1fr min-content;
		padding: 0 @basic-side-padding;
	}
}

.header__logo {
	width: 160px;
	height: 42px;
	object-fit: cover;
	z-index: @header-logo-index;
}

.header__menu-button {
	width: @header-mobile-btn-size;
	height: @header-mobile-btn-size;
	border: none;
	background-color: transparent;
	cursor: pointer;

	display: none;

	@media (max-width: @tablet-width) {
		z-index: @header-menu-btn-index;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}
