.footer {
	width: 100%;
	background-color: @standart-background-color;
}

.footer__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: @footer-top-bottom-padding @basic-side-padding;

	@media (max-width: @tablet-width) {
		flex-direction: column;
		justify-content: flex-start;
		gap: 20px;
	}
}
