.footer {
  width: 100%;
  background-color: @standart-background-color;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: @footer-top-bottom-padding @basic-side-padding;


  @media (max-width: @tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
}

.footer__copyright {
  font-family: @basic-font;
  color: @standart-text-color;
  font-size: @copyright-font-size;
  font-weight: @copyright-font-weight;

  @media (max-width: @tablet-width) {
    font-size: @copyright-tablet-font-size;
  }
}

.footer__privacy {
  text-transform: capitalize;
  opacity: 0.7;
  transition: all .1s ease;

  font-family: @basic-font;
  color: @standart-before-hover-text-color;
  font-size: @copyright-font-size;
  font-weight: @copyright-font-weight;

  @media (max-width: @tablet-width) {
    font-size: @copyright-tablet-font-size;
  }

  &:hover,
  &:focus {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' width='40'%3E%3Cpath d='m10 33-2-1v-7h2v5h20v-5h3v5l-1 2h-2Zm10-7-7-7 1-1 5 4V7h2v15l4-4 2 1Z' fill='%23527fa6'/%3E%3C/svg%3E")15 15, auto;
    color: @standart-black;
    opacity: 1;
  }
}
