.our-office {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 300px min-content min-content;
	grid-row-gap: 30px;
	padding-bottom: 40px;
	background-color: @standart-background-color;
}

.our-office__banner {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 @basic-side-padding;
}

.our-office__banner-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.our-office__about {
	width: 100%;
}

.our-office__about-wrap {
	padding: 0 @basic-side-padding;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content;
	grid-row-gap: 15px;
}

.our-office__item-title {
	font-family: @basic-font;
	font-size: @office-item-title-font-size;
	font-weight: @office-item-title-font-weight;
	color: @standart-text-color;
	text-transform: none;
	text-align: left;
}

.our-office__about-text {
	font-family: @basic-font;
	font-size: @office-text-font-size;
	font-weight: @office-text-font-weight;
	color: @standart-text-color;
	text-transform: none;
	text-align: left;
}

.our-office__text-block {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 5px;
}

.our-office__persons-list {
	list-style: none;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
}

.our-office__persons-item {
	position: relative;
	display: flex;

	&:not(:last-child) {
		&::after {
			content: ',';
			position: absolute;
			top: 0;
			right: -5px;
			height: min-content;
		}
	}

	&:last-child {
		&::after {
			content: '.';
			position: absolute;
			top: 0;
			right: -5px;
			height: min-content;
		}
	}
}
