.project-header {
  width: 100%;
  flex-grow: 2;
}

.project-header__wrap {
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: @basic-side-padding;
}

.project-header__title {
  text-align: start;
  font-size: @proj-header-title-font-size;
  color: @standart-text-color;
  font-weight: @proj-header-title-font-weight;
}
