.project-slider {
	position: relative;
	width: 100%;
  max-width: 100%;
  height: min-content;
	overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  /* width */
  ::-webkit-scrollbar {
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #CFD8DC;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #90A4AE;
    border-radius: 8px;
    height: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #90A2e4;
  }
}

.project-slider__slides {
	overflow: hidden;
	width: 100%;
	height: 500px;
	list-style: none;

  @media (max-width: @tablet-width) {
    height: 400px;
  }
}

.project-slider__slide {
	width: 100%;
	height: 500px;
	position: absolute;
	overflow: hidden;
  background-color: @standart-background-color;
  padding: 0 10px;

  &--active {
    z-index: 1;
    -webkit-animation: slide 1s 1;
  }

  &:not(.project-slider__slide--active) {
    -webkit-animation: hidden 1s 1;
  }

  @media (max-width: @tablet-width) {
    height: 400px;
  }
}

.project-slider__image {
	width: 100%;
	height: 100%;
  object-fit: contain;
}

.project-slider__thumbnails {
  height: 200px;
  max-width: 97vw;
  overflow-x: auto;
  overflow-y: hidden;
  // padding: 5px 0;
	list-style: none;

  @media (max-width: @tablet-width) {
    height: 140px;
  }
}

.project-slider__thumbnails-wrap {
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: min-content;
  height: 200px;

  @media (max-width: @tablet-width) {
    height: 140px;
  }
}

.project-slider__thumbnails-item {
  width: min-content;
  height: 200px;
  padding: 10px 0;

  @media (max-width: @tablet-width) {
    width: 100px;
    height: 140px;
  }
}

.project-slider__thumbnails-preview {
  width: min-content;
  height: 100%;
  object-fit: contain;
  border-radius: 3px;

  @media (max-width: @tablet-width) {
    width: 100px;
    object-fit: cover;
  }
}

.project-slider__thumbnails-button {
  position: relative;
  height: 180px;
  width: min-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;

  --borderWidth: 2px;
  border-radius: var(--borderWidth);

  @media (max-width: @tablet-width) {
    height: 120px;
  }

  &--active::before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
