.project {
	display: grid;
	grid-template-columns: 1.3fr 0.7fr;
	grid-row-gap: 40px;
	padding: 0 @basic-side-padding;

	@media (max-width: @tablet-width) {
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr;
	}
}

.project__gallery {
	width: 100%;

	@media (max-width: @tablet-width) {
		grid-row-start: 2;
	}
}

.project__info {
	width: 100%;
	position: relative;

	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 40px;

	padding-left: @basic-side-padding;

	@media (max-width: @tablet-width) {
		padding-left: 0;
		padding-top: 80px;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, min-content);
	}
}

.project__title {
	text-align: left;
	font-family: @basic-font;
	font-size: @proj-title-font-size;
	color: @standart-text-color;
	font-weight: @proj-title-font-weight;
	order: 1;
}

.project__project-dexcription {
	font-family: @basic-font;
	font-size: @proj-desc-font-size;
	font-weight: @proj-desc-font-weight;
	color: @standart-text-color;
	line-height: @proj-desc-font-size * 1.8;
}
