.project-data-list {
	position: sticky;
	top: 20px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 10px;

	list-style: none;

	@media (max-width: @tablet-width) {
		position: static;
	}
}

.project-data-list__item {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 5px;
	justify-items: center;
}

.project-data-list__title {
	height: 100%;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	font-family: @basic-font;
	font-size: @proj-data-font-size;
	font-weight: @proj-data-title-font-weight;
	color: @standart-text-color;
	text-transform: capitalize;
	white-space: nowrap;
}

.project-data-list__description {
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: @basic-font;
	font-size: @proj-data-font-size;
	font-weight: @proj-data-font-weight;
	color: @standart-text-color;

	& span {
		text-transform: lowercase;
	}
}
