@standart-black: #000000;
@standart-white: #ffffff;
@standart-text-color: #282828;

//sizes
@basic-side-padding: 20px;

//width
@max-width: 1300px;
@desctope-width: 1100px;
@tablet-width: 900px;
@mobile-width: 600px;
