@standart-black: #000000;
@standart-white: #ffffff;
@standart-light-text-color: #fefefe;
@standart-text-color: #1a1c22;
@standart-before-hover-text-color: #3d3a50;
// @standart-background-color: #f7f7f7;
@standart-background-color: #ffffff;

//FONTS
// @basic-font: 'Open Sans', 'Arial', sans-serif;
@basic-font: 'Lato', 'Arial', sans-serif;

//indexing value
@header-index: 3;
@header-logo-index: 1;
@header-menu-btn-index: 1;

//CONTACTS
@contacts-top-bottom-padding: 80px;
@contacts-city-text-size: 20px;
@contacts-basic-text-size: 18px;
@contacts-basic-font-weight: 400;
@contacts-map-height: 500px;
@contacts-tablet-map-height: 350px;

//PROJECTS PAGE
@projs-title-font-size: 14px;
@projs-title-font-weight: 500;
@projs-title-mobile-font-size: 14px;
@projs-title-mobile-font-weight: 400;

//PROJECT PAGE
@proj-title-font-size: 20px;
@proj-title-font-weight: 500;
@proj-desc-font-size: 18px;
@proj-desc-font-weight: 400;
@proj-data-font-size: 17px;
@proj-data-font-weight: 400; //delete
@proj-data-title-font-weight: 600;

//OUR-OFICE
@office-text-font-size: 16px;
@office-text-font-weight: 300;
@office-banner-title-font-size: 38px;
@office-banner-source: url('../img/persons/our-office__baner.jpg');

//HEADER
@header-link-font-size: 18px;
@header-link-font-weight: 500;
@header-link-tablet-font-size: 22px;
@header-mobile-btn-size: 80px;

//FOOTER
@footer-top-bottom-padding: 40px;

//SOCIAL LIST
@social-link-size: 40px;
@social-instagram-color: #527fa6;
@social-facebook-color: #3b5a9b;
@social-email-color: #000;
@social-font-size: 12px;
@social-font-weight: 400;
@sosial-icon-size: 25px;

//sizes
@basic-side-padding: 20px;

//width
@max-width: 1300px;
@desctope-width: 1100px;
@tablet-width: 900px;
@mobile-width: 600px;
